<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing a degree in computer science at the
      <a class="underline-link" href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>.
      In the past, I have worked for
      <a class="underline-link" href="https://soti.net/" target="_blank">SOTI</a> as an Android Developer for their main product, Mobicontrol.
      I have also worked as a Teacher Assistant for computer science courses at the
      <a class="underline-link" href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>.
    </p>

    <p>
      As a software engineer, I enjoy architecting and designing software &mdash; combining my technical ability
      with my creative outlook on user-centric design to produce awesome products. My goal is to build scalable
      applications that effectively achieve their purpose and provide memorable experiences.
    </p>

    <p>
      <strong>When I'm away from my keyboard</strong>, I like to play Basketball &amp; Ping Pong with friends or enjoy a relaxing evening watching Netflix.
    </p>

    <p>Currently, I am <strong>seeking</strong> a <strong>2021 Summer</strong> internship!</p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
