<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/AhmadAlsabbagh/COVID-CORNER" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/covidcorner/covidcorner1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/covidcorner/covidcorner2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/covidcorner/covidcorner4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AhmadAlsabbagh/COVID-CORNER" target="_blank">COVID CORNER</a>
        </div>
        <p>COVID Corner is a COVID-19 statistics and news application catered to local municipalities in Ontario.</p>
      </figcaption>
    </div>
  </div>
</section>